<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XK_60_S2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <XK_60_S2.My.MySettings>
            <setting name="CheckBox01_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox02_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox04_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox05_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox06_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox07_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox08_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox09_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox10_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox12_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox13_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox14_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox15_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox16_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox17_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox18_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox25_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox26_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox28_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox29_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox30_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox31_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox32_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox33_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox34_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox36_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox37_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox38_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox39_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox40_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox41_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox42_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox44_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox45_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox46_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox47_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox48_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox49_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox50_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox52_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox53_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox54_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox55_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox56_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox57_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox58_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox65_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox66_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox68_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox69_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox70_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox71_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox72_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox73_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox74_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox76_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox77_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox78_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox79_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox80_button_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox01_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox02_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox04_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox05_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox06_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox07_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox08_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox09_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox10_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox12_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox13_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox14_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox15_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox16_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox17_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox18_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox25_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox26_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox28_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox29_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox30_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox31_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox32_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox33_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox34_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox36_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox37_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox38_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox39_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox40_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox41_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox42_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox44_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox45_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox46_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox47_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox48_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox49_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox50_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox52_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox53_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox54_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox55_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox56_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox57_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox58_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox65_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox66_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox68_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox69_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox70_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox71_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox72_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox73_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox74_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox76_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox77_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox78_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox79_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBox80_timeline_name" serializeAs="String">
                <value />
            </setting>
            <setting name="Auto_load_timeline" serializeAs="String">
                <value />
            </setting>
            <setting name="Auto_prepare_timeline" serializeAs="String">
                <value />
            </setting>
        </XK_60_S2.My.MySettings>
    </userSettings>
</configuration>
